/* You can add global styles to this file, and also import other style files */

body {
    background-color: #fafafa;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
}

input,
select,
textarea,
button {
    font-family: 'Quicksand', sans-serif;
}
