.stories {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #eee;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}